<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>
Welcome to the home page for user <%= @user.id %>, <%= @user.name %> (<%= @user.email %>).
</p>

<p>
	Events created:
</p>
	
<% @user.events.each do |event| %>
  <%= event.name + " - " + event.location + " - " + event.date.to_s %><br>
<% end %>
