<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<div id="accordion">
	
  <h3>Upcoming Events (<%= @upcomingEvents.count %>)</h3>
  <div>
    <% @upcomingEvents.each do |e| %>
      <%= render partial: 'event', :locals => {:event => e} %>
    <% end %>
  </div>

  <h3>Past Events (<%= @pastEvents.count %>)</h3>
  <div>
    <% @pastEvents.each do |e| %>
      <%= render partial: 'event', :locals => {:event => e} %>
    <% end %>
  </div>
</div>
