<h2>Find a Great Event Today!</h2>

<div id="accordion">
	
  <h3>Upcoming Events (<%= @upcomingEvents.count %>)</h3>
  <div>
    <% @upcomingEvents.each do |e| %>
      <%= render partial: 'event', :locals => {:event => e} %>
    <% end %>
  </div>

  <h3>Past Events (<%= @pastEvents.count %>)</h3>
  <div>
    <% @pastEvents.each do |e| %>
      <%= render partial: 'event', :locals => {:event => e} %>
    <% end %>
  </div>
</div>
